body {
    color: white;
    background-color: #aaa;
    font-family: Determination Mono Web;
    font-size: larger;
    margin: 140px 280px;
}

header {
    position: absolute;
    top: 0;
}

img {
    position: absolute;
    image-rendering: pixelated;
}

img.captions {
    width: 304px;
    height: 36px;
}

#menu {
    background-color: white;
    font-size: 64px;
    width: 1050px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#statlist > img {
    margin: 10px 16px;
}
/* text/values (12, 4, 0, Yes, etc.) are 128px from the right, 124 if you add extra margin */
/* However, the Annoying Dog has a left of 50px before. */

#statlist > img:last-of-type {
    margin: 2px;
}

#char {
    background-color: black;
    width: 1026px;
    height: 244px;
    border-width: 4px 4px 0;
    border-color: #9da2c4;
    border-style: solid;
    margin: 8px 8px 6px;
    display: flex;
    justify-content: space-between;
}

#stats {
    background-color: black;
    width: 460px;
    height: 370px;
    border-width: 0 0 4px 4px;
    border-color: #9da2c4;
    border-style: solid;
    margin: 6px 6px 8px 8px;
    ;
}

#spells {
    background-color: black;
    width: 554px;
    height: 370px;
    border-width: 0 4px 4px 0;
    border-color: #9da2c4;
    border-style: solid;
    margin: 6px 8px 8px 6px;
}



#pfp {
    display: flex;
    margin-left: 52px;
    margin-top: 132px;
}

.pfp {
    width: 100px;
    height: 80px;
}

.heartarrows, .pfp span {
    visibility: hidden;
}
/* heartarrow is 38px above characters */
.pfp:focus .heartarrows {
    height: 120px;
    margin-top: -38px;
    position: absolute;
    visibility: visible;
}

.desc {
    visibility: hidden;
}

#pfp:focus-within + .desc {
    font-family: Determination Sans Web;
    width: 514px;
    height: 244px;
    padding-top: 22px;
    background-color: 0;
    position: relative;
    visibility: visible;
}

/* .desc {
    font-family: Determination Sans Web;
    width: 514px;
    height: 244px;
    padding-top: 22px;
    background-color: 0;
} */



#charimg {
    left: unset;
    margin-top: -20px;
    margin-left: 60px;
}
